<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Public:</strong>
  <%= @album.public %>
</p>

<p>
  <strong>Rating:</strong>
  <%= raw img_rating_tag @album.rating %>
</p>

<% if !@album.photos.empty? -%>

  <table>
    <thead>
      <th>Title</th>
      <th>Image</th>
    </thead>
    <tbody>
      <% @photos.each do |photo|  %>
        <%= render partial: 'album_photo', object: photo, as: 'photo' %>
      <% end %>
    </tbody>
  </table>
<% else -%>

  <h1>Empty album!!!!!</h1>

<% end -%>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
